version: '3.8'

services:
    fronted:
        build:
          context: ./web
          dockerfile: Dockerfile
        container_name: frontend
        volumes:
            - server_uploads:/opt/go_blog/server/uploads/
        ports:
            - "80:80"
        depends_on:
            - backend
        networks:
            - app-network
    backend:
        build:
          context: ./server
          dockerfile: Dockerfile
        container_name: backend
        volumes:
            - server_uploads:/opt/go_blog/server/uploads/
        ports:
            - "8080:8080"
        depends_on:
            - es
            - redis
            - mysql:
                condition: service_healthy
        networks:
            - app-network
    es:
        image: elasticsearch:8.17.0
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
            - xpack.security.http.ssl.enabled=false
            - xpack.license.self_generated.type=trial
            - xpack.security.enabled=false
        ulimits:
            nofile:
                soft: 65535
                hard: 65535
        ports:
            - "9200:9200"
            - "9300:9300"
        volumes:
            - es_data:/usr/share/elasticsearch/data
        networks:
            - app-network

    redis:
        image: redis:7.0.12-alpine
        container_name: redis
        command: redis-server --requirepass 123456
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        networks:
            - app-network

    mysql:
        image: mysql:8.0
        container_name: mysql
        environment:
            MYSQL_ROOT_PASSWORD: 123456
            MYSQL_DATABASE: blog_db
        ports:
            - "3306:3306"
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
            interval: 5s
            timeout: 5s
            retries: 10
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - app-network

volumes:
    es_data:
    redis_data:
    mysql_data:
    server_uploads:

networks:
    app-network:
        driver: bridge
